div {
 
  box-sizing: border-box;
 
}

.mike {
  visibility: visible;
  position: fixed;
  left: 15%;
  top: 60%;
  width: 10%;
  padding-top: 2%;
  transition: all 1s;
  /*margin-top: 20px;*/
}

.mike:hover {
  transform: scale(1.4);
  
}


.head {
  width: 100px;
  height: 60px;
  background: #92ae57;
  position: relative;
  z-index: 3;
  -webkit-animation: mymove 2s infinite; 
 border-radius: 50%
  
  
}

.eyes {
  width:100px;
  position: absolute;
  bottom: 20px;
}

.eye {
  width: 50px;
  height: 50px;
  background-color: #ffe13b;
  border: 10px solid #92ae57;
  display: inline-block;
  z-index: 4;
  -webkit-animation: mymove 2s infinite; 

  -webkit-animation: eyes 5s infinite step-start 0s;
}

.eye:last-child {
  float:right;
}

.pupil {
  width: 1px;
  height: 1px;
  border: 5px solid #353535;
  display: inline-block;
  position: absolute;
  top: 23px;
  margin-left:9px;  
  z-index: 5;
   border-radius: 50%;
  
  -webkit-animation: mymove 5s infinite; 

  -webkit-animation: pupil 5s infinite step-start 0s;
}

.pupil:last-child{
  float:right;
}

.ball {
   border-radius: 50%;
  
  width: 1px;
  height: 1px;
  border: 5px solid #6f8346;
  position: absolute;
  top: 35px;
  left: 40px;
 

}

.ball:last-child {
  float:left;
  margin-left: 14px;
}

.mouth {
  height: 50px;
  width: 90px;
  border-bottom: 5px solid #6f8346;
  position: relative;
  top: 8px;
  left: 5px;
   border-radius: 50%
  
  

}

.body{
  width: 75px;
  height: 40px;
  background: #758C44;
  position: relative;
  z-index: 1;
  -webkit-animation: mymove 2s infinite; 
 border-radius: 50%;
  
  bottom: 10px;
  left:15px;
}

.innerbody{
  width: 55px;
  height: 25px;
  background: #ffe13b;
  position: relative;
  z-index: 2;
  margin-left: 0;
  left: 11px;
  top:10px;
 border-radius: 50%;
  

}



.foot {
   border-radius: 50%;
  
  width: 20px;
  height: 20px;
  background-color:  #758C44;
  display: inline-block;
  z-index: 1;
  position: absolute;
  top: 30px;
  margin-left:5px;  
 

  
 
}

.foot:last-child{
  float:right;
  margin-left: 50px;

}

.head2 {
  width: 100px;
  height: 60px;
  background: #92ae57;
  position: relative;
  z-index: 3;
  -webkit-animation: mymove 3s infinite; 
 border-radius: 50%
  
  
}

.eyes2 {
  width:100px;
  position: absolute;
  bottom: 20px;
}

.eye2 {
  width: 50px;
  height: 50px;
  background-color: #ffe13b;
  border: 10px solid #92ae57;
  display: inline-block;
  z-index: 4;
  -webkit-animation: mymove 3s infinite; 

  -webkit-animation: eyes 5s infinite step-start 0s;
}

.eye2:last-child {
  float:right;
}

.pupil2 {
  width: 1px;
  height: 1px;
  border: 5px solid #353535;
  display: inline-block;
  position: absolute;
  top: 23px;
  margin-left:9px;  
  z-index: 5;
   border-radius: 50%;
  
  -webkit-animation: mymove 3s infinite; 

  -webkit-animation: pupil 5s infinite step-start 0s;
}

.pupil2:last-child{
  float:right;
}

.ball2 {
   border-radius: 50%;
  
  width: 1px;
  height: 1px;
  border: 5px solid #6f8346;
  position: absolute;
  top: 35px;
  left: 40px;
 

}

.ball2:last-child {
  float:left;
  margin-left: 14px;
}

.mouth2 {
  height: 50px;
  width: 90px;
  border-bottom: 5px solid #6f8346;
  position: relative;
  top: 8px;
  left: 5px;
   border-radius: 50%
  
  

}

.body2{
  width: 75px;
  height: 40px;
  background: #758C44;
  position: relative;
  z-index: 1;
  -webkit-animation: mymove 3s infinite; 
 border-radius: 50%;
  
  bottom: 10px;
  left:15px;
}

.innerbody2{
  width: 55px;
  height: 25px;
  background: #ffe13b;
  position: relative;
  z-index: 2;
  margin-left: 0;
  left: 11px;
  top:10px;
 border-radius: 50%;
  

}



.foot2 {
   border-radius: 50%;
  
  width: 20px;
  height: 20px;
  background-color:  #758C44;
  display: inline-block;
  z-index: 1;
  position: absolute;
  top: 30px;
  margin-left:5px;  
 

  
 
}

.foot2:last-child{
  float:right;
  margin-left: 50px;

}


/* Animations */

@-webkit-keyframes eyes {
   0%, 100% {
    background: #758C44;
    border-radius: 50%;
    border: 10px solid #92ae57;
  } 

   20%, 80% {  
    background:#ffe13b;
    border-radius: 50%;
    border: 10px solid #92ae57;
  }
}

@-webkit-keyframes pupil {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
 }
}

@-webkit-keyframes mymove {
    0%   {top:0px;}
    50% {top: -50px;}
    100% {top: 0px;}
}


/*SLUT GRODA, START GREYBIRD*/

.piopio{
  position:fixed;
}
#pajaro{
  left:100%;
  -moz-animation:volar 5s infinite;
  -webkit-animation: volar 5s infinite;
  -o-animation:volar 5s infinite;
  -ms-animation:volar 5s infinite;
  -khtml-animation:volar 5s infinite;
  animation:volar 5s infinite;
}
@-moz-keyframes volar{
  0%{
    top:5px;
  }25%{
    top:100px;
  }50%{
    top:80px;
  }75%{
    top:25px;
  }100%{
    left:-177px;
    top:102px;
  }
}
@-webkit-keyframes volar{
  0%{
    margin-left:100%;
    top:5px;
  }25%{
    top:100px;
  }50%{
    top:80px;
  }75%{
    top:25px;
  }100%{
    left:-177px;
    top:102px;
  }
}
@-o-keyframes volar{
  0%{
    top:5px;
  }25%{
    top:100px;
  }50%{
    top:80px;
  }75%{
    top:25px;
  }100%{
    left:-177px;
    top:102px;
  }
}
@-ms-keyframes volar{
  0%{
    top:5px;
  }25%{
    top:100px;
  }50%{
    top:80px;
  }75%{
    top:25px;
  }100%{
    left:-177px;
    top:102px;
  }
}
@-khtml-keyframes volar{
  0%{
    top:5px;
  }25%{
    top:100px;
  }50%{
    top:80px;
  }75%{
    top:25px;
  }100%{
    left:-177px;
    top:102px;
  }
}
@keyframes volar{
  0%{
    left:100%;
    top:5px;
  }25%{
    top:100px;
  }50px{
    top:80px;
  }75%{
    top:25px;
  }100%{
    left:-177px;
    top:102px;
  }
}

/*SLUT GRODA, START HELICOPTER*/



div {
 
  box-sizing: border-box;
 
}



@-webkit-keyframes spin {
  from {
    transform:rotateY(0deg);
  }

  to {
     transform:rotateY(-360deg);
  }
}

@-webkit-keyframes tailblade {
  from {
    transform:rotate3d(0,0,1,0deg);
  }

  to {
     transform:rotate3d(0,0,1,-360deg);
  }
}
@-webkit-keyframes float {
  from {
    transform:translateY(8px) rotate3d(0,0,1,3deg);
  }

  to {
     transform:translateY(-8px) rotate3d(0,0,1,0deg);
  }
}


.helicopter_wrapper{
  transform: scale(2);
  position:absolute;
  top:30%;
  left:70%;

}

.helicopter {
  position:relative;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: float;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}



.blade {
  position:absolute;
  top:0px;
  left:31px;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-name: spin;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function:linear;
  -webkit-animation-play-state: running;
}
.tailblade{
  width:3px;
  height:7px;
  background-color: red;
  position:absolute;
  top:9px;
  left:10px;
  -webkit-transform-origin:50% 100%;
  -webkit-animation-duration: .1s;
  -webkit-animation-name: tailblade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function:linear;
  -webkit-animation-play-state: running;
}

/*SLUT HELICOPTER, START BLACKBIRD*/




.pajaro{
  background:black;
  border-radius: 50% 50% 20% 20%;
  color:white;
  line-height:20px;
  letter-spacing: 2px;
  font-size:0.8em;
  text-align:center;
  position:absolute;
  top:60%; left:60%;
  margin-top:-20px; margin-left:-10px;
  width:15px; height:15px;
  -webkit-animation:planeo 0.8s linear infinite;
  z-index:999;
}

.pajaro:after,
.pajaro:before{
  content:"";
  position:absolute;
  top:50%; left:50%;
}

/*------------------------------------------------------ bird wings
*/

.pajaro:after{
  border-radius: 100% 100% 0 0;
  box-shadow: inset 0px 5px 0 black;
  width:100px; height:100px;
  margin-top:-7px; margin-left:-50px;
  -webkit-transform-origin: 100% 0%;
  -webkit-animation:alas 3s linear infinite;
}

/*------------------------------------------------------ bird beak
*/

.pajaro:before{
  background:#FFC37F;
  border-radius: 100% 0% 20% 0%;
  margin-top:3px; margin-left:-4px;
  width:6px; height:6px;
  -webkit-transform:rotateZ(45deg);
}

/*------------------------------------------------------ wings animation
*/

@-webkit-keyframes alas {
  50%{
    transform:rotateX(-1440deg);
  }
}

/*------------------------------------------------------ bird animation
*/

@-webkit-keyframes planeo {
  40%{
    transform:rotateZ(2deg) translateX(2px) translateY(10px) translateZ(0);
    line-height:16px;
    font-size:0.6em;
  }
  80%{
    transform:rotateZ(-2deg) translateX(5px) translateY(8px) translateZ(0);
  }
}