html,
body{
  height:100%;
}
@import url(http://devsarray.com.ar/hernan/reset.css);
body {
    background-image: url("himmel2.jpg");
    background-size: 1500px 800px;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-top: 0px;
    font-size: 24px;
    font-family: "Lucida Console";
    fon
    	width:100%;
	/* height:300px; */
	position:absolute;
	overflow:hidden;
   /*   background: -webkit-linear-gradient(top, hsla(210,70%,80%,1) 0%,hsla(210,50%,100%,1) 100%);
  background: -moz-linear-gradient(top, hsla(210,70%,80%,1) 0%,hsla(210,50%,100%,1) 100%);
  font-size:100%; */
}

div {
 
  box-sizing: border-box;
 
}

.piopio{
  position:relative;
}
#pajaro{
  left:100%;
  -moz-animation:volar 5s infinite;
  -webkit-animation: volar 5s infinite;
  -o-animation:volar 5s infinite;
  -ms-animation:volar 5s infinite;
  -khtml-animation:volar 5s infinite;
  animation:volar 5s infinite;
}
@-moz-keyframes volar{
  0%{
    top:5px;
  }25%{
    top:100px;
  }50%{
    top:80px;
  }75%{
    top:25px;
  }100%{
    left:-177px;
    top:102px;
  }
}
@-webkit-keyframes volar{
  0%{
    margin-left:100%;
    top:5px;
  }25%{
    top:100px;
  }50%{
    top:80px;
  }75%{
    top:25px;
  }100%{
    left:-177px;
    top:102px;
  }
}
@-o-keyframes volar{
  0%{
    top:5px;
  }25%{
    top:100px;
  }50%{
    top:80px;
  }75%{
    top:25px;
  }100%{
    left:-177px;
    top:102px;
  }
}
@-ms-keyframes volar{
  0%{
    top:5px;
  }25%{
    top:100px;
  }50%{
    top:80px;
  }75%{
    top:25px;
  }100%{
    left:-177px;
    top:102px;
  }
}
@-khtml-keyframes volar{
  0%{
    top:5px;
  }25%{
    top:100px;
  }50%{
    top:80px;
  }75%{
    top:25px;
  }100%{
    left:-177px;
    top:102px;
  }
}
@keyframes volar{
  0%{
    left:100%;
    top:5px;
  }25%{
    top:100px;
  }50px{
    top:80px;
  }75%{
    top:25px;
  }100%{
    left:-177px;
    top:102px;
  }
}


.mike {
 position: relative;
  left: 40%;
  top:40%;
  width: 10%;
  /*margin: 0 auto;*/
  padding-top: 2%;
  transition: all 1s;
 /* margin-top: 20px;*/

}

.mike:hover {
  transform: scale(1.4);
  
}


.head {
  width: 100px;
  height: 60px;
  background: #92ae57;
  position: relative;
  z-index: 3;
  -webkit-animation: mymove 2s infinite; 
 border-radius: 50%
  
  
}

.eyes {
  width:100px;
  position: absolute;
  bottom: 20px;
}

.eye {
  width: 50px;
  height: 50px;
  background-color: #ffe13b;
  border: 10px solid #92ae57;
  display: inline-block;
  z-index: 4;
  -webkit-animation: mymove 2s infinite; 

  -webkit-animation: eyes 5s infinite step-start 0s;
}

.eye:last-child {
  float:right;
}

.pupil {
  width: 1px;
  height: 1px;
  border: 5px solid #353535;
  display: inline-block;
  position: absolute;
  top: 23px;
  margin-left:9px;  
  z-index: 5;
   border-radius: 50%;
  
  -webkit-animation: mymove 5s infinite; 

  -webkit-animation: pupil 5s infinite step-start 0s;
}

.pupil:last-child{
  float:right;
}

.ball {
   border-radius: 50%;
  
  width: 1px;
  height: 1px;
  border: 5px solid #6f8346;
  position: absolute;
  top: 35px;
  left: 40px;
 

}

.ball:last-child {
  float:left;
  margin-left: 14px;
}

.mouth {
  height: 50px;
  width: 90px;
  border-bottom: 5px solid #6f8346;
  position: relative;
  top: 8px;
  left: 5px;
   border-radius: 50%
  
  

}

.body{
  width: 75px;
  height: 40px;
  background: #758C44;
  position: relative;
  z-index: 1;
  -webkit-animation: mymove 2s infinite; 
 border-radius: 50%;
  
  bottom: 10px;
  left:15px;
}

.innerbody{
  width: 55px;
  height: 25px;
  background: #ffe13b;
  position: relative;
  z-index: 2;
  margin-left: 0;
  left: 11px;
  top:10px;
 border-radius: 50%;
  

}



.foot {
   border-radius: 50%;
  
  width: 20px;
  height: 20px;
  background-color:  #758C44;
  display: inline-block;
  z-index: 1;
  position: absolute;
  top: 30px;
  margin-left:5px;  
 

  
 
}

.foot:last-child{
  float:right;
  margin-left: 50px;

}

.head2 {
  width: 100px;
  height: 60px;
  background: #92ae57;
  position: relative;
  z-index: 3;
  -webkit-animation: mymove 3s infinite; 
 border-radius: 50%
  
  
}

.eyes2 {
  width:100px;
  position: absolute;
  bottom: 20px;
}

.eye2 {
  width: 50px;
  height: 50px;
  background-color: #ffe13b;
  border: 10px solid #92ae57;
  display: inline-block;
  z-index: 4;
  -webkit-animation: mymove 3s infinite; 

  -webkit-animation: eyes 5s infinite step-start 0s;
}

.eye2:last-child {
  float:right;
}

.pupil2 {
  width: 1px;
  height: 1px;
  border: 5px solid #353535;
  display: inline-block;
  position: absolute;
  top: 23px;
  margin-left:9px;  
  z-index: 5;
   border-radius: 50%;
  
  -webkit-animation: mymove 3s infinite; 

  -webkit-animation: pupil 5s infinite step-start 0s;
}

.pupil2:last-child{
  float:right;
}

.ball2 {
   border-radius: 50%;
  
  width: 1px;
  height: 1px;
  border: 5px solid #6f8346;
  position: absolute;
  top: 35px;
  left: 40px;
 

}

.ball2:last-child {
  float:left;
  margin-left: 14px;
}

.mouth2 {
  height: 50px;
  width: 90px;
  border-bottom: 5px solid #6f8346;
  position: relative;
  top: 8px;
  left: 5px;
   border-radius: 50%
  
  

}

.body2{
  width: 75px;
  height: 40px;
  background: #758C44;
  position: relative;
  z-index: 1;
  -webkit-animation: mymove 3s infinite; 
 border-radius: 50%;
  
  bottom: 10px;
  left:15px;
}

.innerbody2{
  width: 55px;
  height: 25px;
  background: #ffe13b;
  position: relative;
  z-index: 2;
  margin-left: 0;
  left: 11px;
  top:10px;
 border-radius: 50%;
  

}



.foot2 {
   border-radius: 50%;
  
  width: 20px;
  height: 20px;
  background-color:  #758C44;
  display: inline-block;
  z-index: 1;
  position: absolute;
  top: 30px;
  margin-left:5px;  
 

  
 
}

.foot2:last-child{
  float:right;
  margin-left: 50px;

}


/* Animations */

@-webkit-keyframes eyes {
   0%, 100% {
    background: #758C44;
    border-radius: 50%;
    border: 10px solid #92ae57;
  } 

   20%, 80% {  
    background:#ffe13b;
    border-radius: 50%;
    border: 10px solid #92ae57;
  }
}

@-webkit-keyframes pupil {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
 }
}

@-webkit-keyframes mymove {
    0%   {top:0px;}
    50% {top: -50px;}
    100% {top: 0px;}
}