body {
    background-color: lightblue;
    margin-left: 0px;
    margin-top: 0px;
    font-size: 24px;
    font-family: "Lucida Console";
}
header{
	background-color: white;
	position: fixed; 
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;   
}

div#canvas {
  margin-left: 100px;
   margin-top: 100px;
   margin-right: 330px;
   background-color: red;
}