html{
   background: #5F637A;
}

.rubrik{
	position: relative;
	margin: 0px;
	 background: -webkit-linear-gradient(left, #F7AA2D 30%, #2DF734 100%);
	text-align: center;
	color:white;
	width: 100%;
	padding: 15px;

}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;

}

#e,#f{
  display:inline-block;
}

#g,#h,#i{
  display:inline-block;
}

#circle, #circle2, #circle3, #circle4, #circle5 {
  width:100px;
  height:50px;
  
  float: center;

 
}
/* Demo One */
#drop-target-one,
#drop-target-two,
#dd-files,
#dd-images {
  border: 5px dashed #D9D9D9;
  border-radius: 10px;
  padding: 5em 2em;
  text-align: center;
  margin: 10px;
  display: inline-block;
  width: 400px;


}

#drop-target-one{
  background-color: #4A7229;
}

#drop-target-two{
  background-color: #D2B836;
}

#dropZones{
  display: inline-block;
}
.over {
  background: #000000;
}


#drag-elements {
  list-style: none;
  padding: 0;
  margin: 0 0 1em;

  
}

#drag-elements li {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0 1em 1em 0;
  border: 1px solid #D9D9D9;
  background: #FFBD38;
  width: 100px;
  height:130px;
  border-radius: 50%;
  
}




/* Clearfix Utils */

.clearfix {
  *zoom: 1; }

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: ""; }

.clearfix:after {
  clear: both; }




.btn {

  
  -webkit-box-shadow: 0px 1px 18px #18a3a3;
  -moz-box-shadow: 0px 1px 18px #18a3a3;
  box-shadow: 0px 1px 18px #18a3a3;
  font-family: Arial;
  color: #ffffff;
  font-size: 26px;
  background: #4281ab;
  padding: 10px 21px 10px 20px;
  border: solid #009dff 2px;
  text-decoration: none;
  margin-right: 10%;
  margin-top: 5%;
  margin-left: 35%
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn2 {

  -webkit-box-shadow: 0px 1px 18px #eb465c;
  -moz-box-shadow: 0px 1px 18px #eb465c;
  box-shadow: 0px 1px 18px #eb465c;
  font-family: Arial;
  color: #ffffff;
  font-size: 26px;
  background: #f261bf;
  padding: 10px 21px 10px 20px;
  border: solid #d1347b 2px;
  text-decoration: none;
}

.btn2:hover {
  background: #edadcc;
  text-decoration: none;
}







